.markdown-body {
  overflow-x: auto;
}

.markdown-body img {
  max-width: 100%;
}

.markdown-body *:first-child {
  margin-top: 0;
}

.markdown-body *:last-child {
  margin-bottom: 0;
}

.markdown-body p {
  white-space: break-spaces;
}

/* Added by Onepoint */
.side-menu {
  min-width: 50px;
  margin: 5em 1em;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
}

img.side-menu-item {
  width: 50px;
  display: block;
}
